@import "tailwindcss";


@font-face {
    font-family: 'JellyBounce';
    src: url('/fonts/Jelly-Bounce-0804.woff') format('woff'),
        url('/fonts/JellyBounce-MArPv.ttf') format('truetype'),
        url('/fonts/JellyBounce-KV8me.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'JellyBounceLine';
    src: url('/fonts/Jelly-Bounce-Line-d3fc.woff') format('woff'),
        url('/fonts/JellyBounceLine-vnJzL.ttf') format('truetype'),
        url('/fonts/JellyBounceLine-2vGaX.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'JellyBounce', Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

app-root {
    display: block;
    width: 100%;
}

canvas {
    display: block;
}

.action-button {
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .action-icon {
        width: 24px;
        height: 24px;
        vertical-align: middle;

        &.small-icon {
            width: 18px;
            height: 18px;
        }
    }

    &.icon-button {
        padding: 8px;

    }

}